# ignore everything
*

# but
!/.gitiignore

!/heuristic/heuristic.cpp
!/heuristic/makefile

!/optimalControl/*

!/parallel/cuda/bf/bf.cu
!/parallel/cuda/bf/makefile

!/parallel/cuda/bfq/bfq.cu
!/parallel/cuda/bfq/makefile

!/parallel/openMP/astar/astar.cpp
!/parallel/openMP/astar/makefile

!/parallel/openMP/bfq/bfq.cpp
!/parallel/openMP/bfq/makefile

!/parallel/openMP/bfq_2/bfq.cpp
!/parallel/openMP/bfq_2/makefile

!/parallel/openMP/bfq_3/bfq.cpp
!/parallel/openMP/bfq_3/makefile

!/parallel/openMP/dijkstra/dijkstra.cpp
!/parallel/openMP/dijkstra/makefile

!/parallel/openMP/slf/slf.cpp
!/parallel/openMP/slf/makefile

!/parallel/openMP/slf_2/slf.cpp
!/parallel/openMP/slf_2/makefile

!/sequencial/astar/astar.cpp
!/sequencial/astar/makefile

!/sequencial/bf/bf.cpp
!/sequencial/bf/makefile

!/sequencial/bfq/bfq.cpp
!/sequencial/bfq/makefile

!/sequencial/dijkstra/dijkstra.cpp
!/sequencial/dijkstra/makefile

!/sequencial/slf/slf.cpp
!/sequencial/slf/makefile



